/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: row; /* Por defecto, dividir horizontalmente */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: none; /* Inicialmente oculta todos los iframes */
}

#iframe1 {
    display: block; /* Mostrar iframe1 por defecto */
}

#iframe2, #iframe3 {
    display: none;
}

/* Botones */
#toggleButton {
    position: fixed;
    top: 10px;
    left: calc(49%);
    width: 32px;
    height: 32px;
    background: url('DUP.png') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

#toggleIframe2ButtonMobile {
    display: none;
}

#toggleIframe3Button {
    position: fixed;
    top: 10px;
    left: 55px;
    width: 32px;
    height: 32px;
    background: url('CRO.png') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    z-index: 1000;
    display: block;
}

/* Menús desplegables */
.dropdown {
    position: fixed;
    top: 10px;
    z-index: 1001;
}

#iframe1Menu {
    left: 10px;
}

#iframe2Menu {
    right: 10px;
    left: auto;
}

.dropdown button {
    background-color: #0c7a20;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown button::after {
    content: '';
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

/* Estilo mejorado para los menús desplegables */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff; /* Fondo blanco */
    min-width: 200px; /* Tamaño mínimo común para ambos menús */
    max-width: 300px; /* Limitar ancho máximo */
    width: 60%; /* Ajustar el ancho al 60% del contenedor */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Sombra suave para todo el menú */
    border-radius: 8px; /* Bordes redondeados */
    z-index: 1;
    padding: 10px 0; /* Añadir padding vertical */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px; /* Más espacio alrededor del texto */
    text-decoration: none;
    display: block;
    font-weight: bold; /* Hacer el texto más destacado */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombreado del texto */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave en el hover */
    border-radius: 5px; /* Bordes redondeados en cada enlace */
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Color de fondo en hover */
    color: #0c7a20; /* Color de texto al pasar el mouse */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); /* Más sombra en el hover */
}

/* Mostrar el menú al agregar la clase 'show' */
.dropdown.show .dropdown-content {
    display: block;
}

/* Alinear el menú de iframe2 hacia la izquierda */
#iframe2Menu .dropdown-content {
    right: 0;
    left: auto;
}

/* Media Queries */

/* Orientación vertical en dispositivos móviles */
@media (max-width: 1300px) and (orientation: portrait) {
    #container {
        flex-direction: column;
    }

    #iframe1,
    #iframe2 {
        width: 100%;
    }

    #iframe1 {
        height: 50%;
    }

    #iframe2 {
        height: 50%;
    }   

    /* Posicionar menú del iframe2 */
    #iframe2Menu {
        top: calc(50% + 10px);
        left: 10px;    
    }

    /* Ajustar dimensiones del botón del menú del iframe2 */
    #iframe2Menu button {
        padding: 8px;         /* Igual que el botón del iframe1 */
        font-size: 16px;      /* Igual que el botón del iframe1 */
    }

    /* Ajustar posicion del contenido del menú del iframe2 */
   #iframe2Menu .dropdown-content {
        left: 0;
        right: auto;
    }

    /* Posicionar botón */
    #toggleButton {
        top: 10px;
        right: 10px;
        left: auto;
    }
}

/* Orientación horizontal en dispositivos móviles */
@media (max-width: 1300px) and (orientation: landscape) {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #container {
        height: 100%;
        width: 100%;
        flex-direction: row;
    }

    #iframe1, #iframe2 {
        width: 50%;
        height: 100%;
        display: block;
    }

    #toggleIframe3Button {
        display: none;
    }

    #iframe3 {
        display: none;
    }

    /* Posicionar menús */
    #iframe1Menu {
        top: 10px;
        left: 10px;
    }

    #iframe2Menu {
        top: 10px;
        right: 10px;
        left: auto;
    }

    /* Posicionar botón */
    #toggleButton {
        top: 10px;
        right: 10px;
        left: calc(49%);
    }
}

/* Estilos para la pantalla de inicio de sesión */
#loginOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Fondo negro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.7); /* Sombra interna para oscurecer los bordes */
}

#loginContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginLogo {
    max-width: 360px; /* Tamaño del logo */ 
    height: auto;
    margin-bottom: 20px;
}

/* Estilos para el formulario de inicio de sesión */
#loginForm {
    background-color: transparent; /* Hacer el fondo transparente */
    border: none; /* Eliminar el borde */
    box-shadow: none; /* Eliminar las sombras */
    padding: 20px 30px;
    max-width: 350px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido del formulario */
}

#loginForm h2 {
    margin-bottom: 20px;
    color: white; /* Color del texto en blanco */
    font-size: 1.5em;
    font-weight: bold;
}

#loginForm label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    color: white; /* Cambia las etiquetas a color blanco */
    font-size: 0.95em;
}

#loginForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95em;
    background-color: #f5f5f5; /* Fondo claro para los inputs */
    color: #000000; /* Cambia el texto dentro de los inputs a negro */
}

#loginForm input::placeholder {
    color: #a9a9a9; /* Color para los placeholders */
}

#loginForm button {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    background-color: #0c7a20;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-left: 20%; /* Ajusta este valor para mover el botón hacia la derecha */
    text-align: center;
}

#loginForm button:hover {
    background-color: #095c16;
}

#errorMessage {
    color: red;
    margin-top: 10px;
    display: none;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px), (max-height: 768px) {
    #loginForm {
        padding: 10px 15px;
        max-width: 300px;
    }

    #loginForm h2 {
        font-size: 1.2em;
    }

    #loginForm label,
    #loginForm input,
    #loginForm button {
        font-size: 0.9em;
    }

    #loginForm input {
        padding: 4px;
    }

    #loginForm button {
        padding: 5px;
    }
}
