/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: row; /* Por defecto, dividir horizontalmente */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: none; /* Inicialmente oculta todos los iframes */
}

#iframe1 {
    display: block; /* Mostrar iframe1 por defecto */
}

#iframe2, #iframe3 {
    display: none;
}

/* Botones */
#toggleButton {
    position: fixed;
    top: 10px;
    left: calc(49%);
    width: 32px;
    height: 32px;
    background: url('DUP.png') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

#toggleIframe2ButtonMobile {
    /* Ocultar este botón por defecto */
    display: none;
}

#toggleIframe3Button {
    position: fixed;
    top: 10px;
    left: 55px;
    width: 32px;
    height: 32px;
    background: url('CRO.png') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    z-index: 1000;
    display: block;
}

/* Menús desplegables */
.dropdown {
    position: fixed;
    top: 10px;
    z-index: 1001;
}

#iframe1Menu {
    left: 10px;
}

#iframe2Menu {
    right: 10px;
    left: auto;
}

.dropdown button {
    background-color: #0c7a20;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown button::after {
    content: '';
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    border-width: 5px;
    borde
